*.class
*.jar
hs_err_pid*
.project
.settings
.classpath
.idea
*.iml
.*.kate-swp
.swp.*
nbbuild
nbproject
dist
nbdist
.nb-gradle
.gradle
/build/
!/gradle/wrapper/gradle-wrapper.jar
.directory
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
.DS_Store
.AppleDouble
.LSOverride
._*
*.orig
*.tmp
*~
.Trash-*
bin/
run/
work/
